<!DOCTYPE html>
<html lang="en"   xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet"  th:href = "@{/css/footer.css}" />
    <link rel="stylesheet"  th:href = "@{/css/about.css}" />
</head>

<body>
    <header>
        <nav>
            <figure>
                <a href="../index.html"><img src="#" alt="photo"></a>
            </figure>
            <ul class="nav_ul">
                <li><img src="../images/x.svg" alt="close" id="exit"></li>
                <li>
                    <p class="btn_book">How To Book</p>
                    <div class="booking">
                        <div class="outerdiv_booking">
                            <img src="../images/close.svg" alt="close" id="close">
                            <div class="how_to_book">
                                <h2>How To Book</h2>
                                <ul>
                                    <li>Step 1: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                        tempor</li>
                                    <li>Step 2: Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
                                    <li>Step 3: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                        tempor</li>
                                    <li>Step 4: Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
                                    <li>Step 5: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                        tempor</li>
                                    <li>Step 6: Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
                                    <li>Step 7: Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
                                    <li> Step 8: Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
                                </ul>

                            </div>
                        </div>
                    </div>
                </li>
                <li><a href="../gallery page/gallery.html">Gallery</a></li>
                <li><a href="../FAQ page/FAQ.html">FAQ</a></li>
                <li><a href="../about page/about.html">About</a></li>
            </ul>
            <img src="../images/Frame 6379.svg" alt="menu" id="burger">
        </nav>
    </header>


    <div class="outer">

        <div class="border-1">
            <h3>LOCATION:</h3>

            <p>Amansea in Awka North LGA Anambra State.</p>

            <h3>STRUCTURE AND FEATURES:</h3>

            <p> Four gigantic twin hostels with private kitchens, laundry, water heaters and study rooms; chapel; a
                cyber cafe; a clinic; a supermarket; hair saloon; General kitchen; canteen and refectory; a generator
                house with solar panels; two 740ft scientific boreholes for water; police post for security; football
                pitch; lawn tennis courts; basket and volleyball courts</p>

            <h3>CAPACITY AND LOGISTICS:</h3>

            <p>The hostel has 504 rooms in all. 492 are fully occupied by students both males and females though
                separately. The hostel has a total of 984 students from every part of Nigeria and different religious
                denominations. It is managed by three priests (The Rector, Spiritual Director and Bursar) and six
                religious sisters.</p>

            <h3>INAUGURATION</h3>

            <p>14th September 2009.</p>

            <h3>VISION:</h3>

            <p>Formation of future leaders through selfless and exemplary services.</p>

            <h3>MISSION:</h3>

            <p>Provision of a very conducive and serene atmosphere for studies and to get the best out of the youths in
                order to arm them to face future challenges, realize their dreams and help in transforming our society.
            </p>

            <h3>FEATS SO FAR:</h3>

            <p>Overall best hostel in cleanliness and discipline 2009 till date; overall best in academics and sports.
            </p>

            <h3>CONTACTS:</h3>
            <ul>
                <li> Fr. Obielosi Dominic (The Rector): 08032776139.</li>

                <li>Fr. Ogbuowelu Emmanuel (The Bursar): 08167676299.</li>

                <li>Sis. M. Sarah Edeoga (The Chief Receptionist): 08064689745.</li>
            </ul>
        </div>

    </div>


    <footer>
        <div class="footer_up">
            <div class="logo">
                <img src="#" alt="photo">
            </div>
            <div class="links">
                <div class="quick_links">
                    <h4>Quick Link</h4>
                    <div>
                        <a href="#">How to Book</a>

                        <a href="../gallery page/gallery.html">Gallery</a>

                        <a href="../FAQ page/FAQ.html">FAQ</a>
                    </div>
                </div>
                <div class="community">
                    <h4>Community</h4>
                    <div>
                        <a href="#">Featured artists</a>
                        <a href="#">The Portal</a>
                        <a href="#">Live events</a>
                    </div>
                </div>
                <div class="company">
                    <h4>Quick Link</h4>
                    <div>
                        <a href="../about page/about.html">About us</a>
                        <a href="../contact us/contact us.html">Contact us</a>
                        <a href="#">History</a>
                    </div>
                </div>
            </div>
            <div class="btns">
                <a href="../registration page/registration.html" class="reg">Register</a>
                <a href="../login page/login.html" class="login">Log in</a>

            </div>
        </div>
        <hr>
        <div class="footer_down">
            <div class="copyright"><small>&copy;HFYV,Inc.2022.We love our students!</small></div>
            <div class="follow_us"> Follow us:
                <img src="../images/Vector.svg" alt="Facebook">
                <img src="../images/Vector-1.svg" alt="twitter">
                <img src="../images/Vector-2.svg" alt="whatsapp">
                <img src="../images/Vector-3.svg" alt="instargram">
            </div>
        </div>
    </footer>
    <script type="text/javascript" th:src = "@{/js/gen script.js}"></script>
</body>

</html>