<!DOCTYPE html>
<html lang="en"   xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="shortcut icon" href="/images/Vector-2.svg" type="image/x-icon">
    <link rel="stylesheet"  th:href = "@{/css/footer.css}" />
    <link rel="stylesheet"  th:href = "@{/css/land page.css}" />
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css}">

</head>

<body>
    <header>
        <nav>
            <figure>
                <a href="./index.html"><img src="#" alt="photo"></a>
            </figure>
            <ul class="nav_ul">
                <li><img src="./images/x.svg" alt="close" id="exit"></li>
                <li>
                    <p class="btn_book">How To Book</p>
                    <div class="booking">
                        <div class="outerdiv_booking">
                            <img src="./images/close.svg" alt="close" id="close">
                            <div class="how_to_book">
                                <h2>How To Book</h2>
                                <ul>
                                    <li>Step 1: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                        tempor</li>
                                    <li>Step 2: Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
                                    <li>Step 3: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                        tempor</li>
                                    <li>Step 4: Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
                                    <li>Step 5: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                        tempor</li>
                                    <li>Step 6: Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
                                    <li>Step 7: Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
                                    <li> Step 8: Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
                                </ul>

                            </div>
                        </div>
                    </div>
                </li>
                <li><a href="./gallery page/gallery.html">Gallery</a></li>
                <li><a href="./FAQ page/FAQ.html">FAQ</a></li>
                <li><a href="./about page/about.html">About</a></li>
            </ul>
            <img src="./images/Frame 6379.svg" alt="menu" id="burger">
        </nav>
    </header>
    <div class="content">
        <div class="welcome">
            <div class="outer">
                <div class="innerwelcome">
                    <p>
                    <h1>Welcome <br><small>to</small><br> Holy Family Youth Village </h1>
                    </p>
                    <div class="btn1">
                        <a href="./login page/login.html" class="login">Log in</a>
                        <a href="./registration page/registration.html" class="reg">Register</a>
                    </div>
                </div>
            </div>
        </div>
        <section class="section one">
            <div class="sec_1">
                <div class="right_side">
                    <h2>Facilities</h2>
                    <p>
                        Lorem ipsum dolorita numquam ipsam necessitatibus doloribus delectus, cum, eius aliquid cumque
                        non modi beatae nam ipsa? Maiores.
                    </p>
                    <div class="pics">
                        <img src="./images/Rectangle.svg" alt="pic 1" id="pic1">
                        <img src="./images/Rectangle.svg" alt="pic 2" id="pic2">
                        <img src="./images/Rectangle.svg" alt="pic 3" id="pic3">
                        <img src="./images/Rectangle.svg" alt="pic 4" id="pic4">
                        <img src="./images/Rectangle.svg" alt="pic 5" id="pic5">
                        <img src="./images/Rectangle.svg" alt="pic 6" id="pic6">

                    </div>
                </div>
                <div class="left_side">
                    <figure class="info i ">
                        <img src="./images/Rectangle.svg" alt="pic 1">
                        <blockquote>
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo, odio fugiat. Debitis minima
                            rerum omnis ex alias fuga eos delectus expedita vero, velit porro corrupti ab. Et laborum
                            labore fuga.
                        </blockquote>
                    </figure>
                    <figure class="info ii ">
                        <img src="" alt="pic 2">
                        <blockquote>
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo, odio fugiat. Debitis minima
                            rerum omnis ex alias fuga eos delectus expedita vero, velit porro corrupti ab. Et laborum
                            labore fuga.
                        </blockquote>
                    </figure>
                    <figure class="info iii ">
                        <img src="" alt="pic 3">
                        <blockquote>
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo, odio fugiat. Debitis minima
                            rerum omnis ex alias fuga eos delectus expedita vero, velit porro corrupti ab. Et laborum
                            labore fuga.
                        </blockquote>
                    </figure>
                    <figure class="info iv ">
                        <img src="" alt="pic 4">
                        <blockquote>
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo, odio fugiat. Debitis minima
                            rerum omnis ex alias fuga eos delectus expedita vero, velit porro corrupti ab. Et laborum
                            labore fuga.
                        </blockquote>
                    </figure>
                    <figure class="info v ">
                        <img src="" alt="pic 5">
                        <blockquote>
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo, odio fugiat. Debitis minima
                            rerum omnis ex alias fuga eos delectus expedita vero, velit porro corrupti ab. Et laborum
                            labore fuga.
                        </blockquote>
                    </figure>
                    <figure class="info vi ">
                        <img src="" alt="pic 6">
                        <blockquote>
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo, odio fugiat. Debitis minima
                            rerum omnis ex alias fuga eos delectus expedita vero, velit porro corrupti ab. Et laborum
                            labore fuga.
                        </blockquote>
                    </figure>
                </div>
            </div>

        </section>
        <section class="section two">
            <h2>Gallery</h2>
            <div class="gallery">
                <img src="./images/hfyv1.jpg" alt="pics">
                <img src="./images/hfyv1.jpg" alt="pics">
                <img src="./images/hfyv1.jpg" alt="pics">
                <img src="./images/hfyv1.jpg" alt="pics">
                <img src="./images/hfyv1.jpg" alt="pics">
                <img src="./images/hfyv1.jpg" alt="pics">
                <img src="./images/hfyv1.jpg" alt="pics">
                <img src="./images/hfyv1.jpg" alt="pics">

            </div>
            <a href="./gallery page/gallery.html" class="veiw_more"><small>veiw more...</small></a>
        </section>
        <section class="section three">
            <div class="comment_top">
                <img src="./images/sample.svg" alt="prev" class="prev" id="prev">
                <div id="de_comment">
                    <div class="here2">
                        <h4>
                            Dev
                        </h4>
                        <q>
                            Lorem ipsum (This contains testimonial), consectetur adipiscing elit, sed do eiusmod tempor
                            incididunt ut labore
                        </q>
                        <p style="background: yellow;background-clip: text;-webkit-text-fill-color: transparent;">
                            ★★★★★
                        </p>
                    </div>
                    <div class="here1">
                        <h4>
                            Dev2
                        </h4>
                        <q>
                            Lorem ipsum (This contains testimonial), consectetur adipiscing elit, sed do eiusmod tempor
                            incididunt ut labore
                        </q>
                        <p style="background: yellow;background-clip: text;-webkit-text-fill-color: transparent; ">
                            ★★★★★
                        </p>
                    </div>

                </div>
                <img src="./images/sample2.svg" alt="next" class="next" id="next">
            </div>



            <div class="comment">
                <div class="warn"><small id="warning"></small></div>
                <label
                    for="username">Name:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                <input type="text" name="name" id="username" placeholder="Enter your Name">

                <br>
                <div class="warn"><small id="warning2"></small></div>
                <div class="comment_box">

                    <label for="comment">Testimonial:&nbsp;&nbsp;</label>
                    <textarea name="comment" id="comment" cols="30" rows="10"
                        placeholder="Enter Testimonial"></textarea>
                </div>
                <div class="warn"><small id="warning3"></small></div>
                <div class="stars">

                    <label for="radioi">Rating:&nbsp;&nbsp;</label>
                    <input type="radio" name="radio" id="rone" placeholder="one star">
                    <input type="radio" name="radio" id="rtwo" placeholder="two star">
                    <input type="radio" name="radio" id="rthree" placeholder="three star">
                    <input type="radio" name="radio" id="rfour" placeholder="four star">
                    <input type="radio" name="radio" id="rfive" placeholder="five star">
                    <div class="rating">
                        <label for="rone">
                            <span class="fa fa-star" id="sone"></span>
                        </label>
                        <label for="rtwo">
                            <span class="fa fa-star" id="stwo"></span>
                        </label>
                        <label for="rthree">
                            <span class="fa fa-star" id="sthree"></span>
                        </label>
                        <label for="rfour">
                            <span class="fa fa-star" id="sfour"></span>
                        </label>
                        <label for="rfive">
                            <span class="fa fa-star" id="sfive"></span>
                        </label>
                    </div>
                </div>
                <input type="submit" value="submit" id="submit" placeholder="Submit">


        </section>
        <section class="section four">
            <div class="right">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. At animi dicta iure nam explicabo suscipit,
                    modi temporibus nulla sequi commodi vitae est blanditiis quae magni aliquid! Dolorum in consequuntur
                    omnis.</p>
            </div>
            <div class="left">
                <a href="#" class="join">Join Today</a>
            </div>
        </section>

    </div>

    

    <button type="button" id="top">
        <i class="arrow up" alt="up"></i>
    </button>


    <footer>
        <div class="footer_up">
            <div class="logo">
                <img src="#" alt="photo">
            </div>
            <div class="links">
                <div class="quick_links">
                    <h4>Quick Link</h4>
                    <div>
                        <a href="#">How to Book</a>

                        <a href="./gallery page/gallery.html">Gallery</a>

                        <a href="./FAQ page/FAQ.html">FAQ</a>
                    </div>
                </div>
                <div class="community">
                    <h4>Community</h4>
                    <div>
                        <a href="#">Featured artists</a>
                        <a href="#">The Portal</a>
                        <a href="#">Live events</a>
                    </div>
                </div>
                <div class="company">
                    <h4>Quick Link</h4>
                    <div>
                        <a href="./about page/about.html">About us</a>
                        <a href="./contact us/contact us.html">Contact us</a>
                        <a href="#">History</a>
                    </div>
                </div>
            </div>
            <div class="btns">
                <a href="./registration page/registration.html" class="reg">Register</a>
                <a href="./login page/login.html" class="login">Log in</a>

            </div>
        </div>
        <hr>
        <div class="footer_down">
            <div class="copyright"><small>&copy;HFYV,Inc.2022.We love our students!</small></div>
            <div class="follow_us"> Follow us:
                <img src="./images/Vector.svg" alt="Facebook">
                <img src="./images/Vector-1.svg" alt="twitter">
                <img src="./images/Vector-2.svg" alt="whatsapp">
                <img src="./images/Vector-3.svg" alt="instargram">
            </div>
        </div>
    </footer>
    <script type="text/javascript" th:src = "@{/js/landingpage.js}"></script>
    <script type="text/javascript" th:src = "@{/js/gen script.js}"></script>
</body>

</html>