<!DOCTYPE html>
<html lang="en"   xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>registration page</title>
    <link rel="stylesheet"  th:href = "@{/css/footer.css}" />
    <link rel="stylesheet"  th:href = "@{/css/styles.css}" />
</head>

<body>
<header>
    <nav>
        <figure>
            <a href="../index.html"><img src="#" alt="photo"></a>
        </figure>
        <ul class="nav_ul">
            <li><img src="../images/x.svg" alt="close" id="exit"></li>
            <li>
                <p class="btn_book">How To Book</p>
                <div class="booking">
                    <div class="outerdiv_booking">
                        <img src="../images/close.svg" alt="close" id="close">
                        <div class="how_to_book">
                            <h2>How To Book</h2>
                            <ul>
                                <li>Step 1: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                    tempor</li>
                                <li>Step 2: Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
                                <li>Step 3: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                    tempor</li>
                                <li>Step 4: Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
                                <li>Step 5: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                    tempor</li>
                                <li>Step 6: Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
                                <li>Step 7: Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
                                <li> Step 8: Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
                            </ul>

                        </div>
                    </div>
                </div>
            </li>
            <li><a href="../gallery page/gallery.html">Gallery</a></li>
            <li><a href="../FAQ page/FAQ.html">FAQ</a></li>
            <li><a href="../about page/about.html">About</a></li>
        </ul>
        <img src="../images/Frame 6379.svg" alt="menu" id="burger">
    </nav>
</header>

<div class="container">
    <div class="formcontainer">
        <span class="login-1">CREATE ACCOUNT</span>
        <form class="form create">
            <input type="text" class="input" placeholder="First name">
            <input type="text" class="input" placeholder="last name">
            <input type="email" class="input" placeholder="Email address">
            <input type="tel" class="input" placeholder="Phone no">
            <input type="text" class="input" placeholder="Department">
            <input type="number" class="input" placeholder="id No">
            <input type="password" class="input" placeholder="Create Password">
            <input type="password" class="input" placeholder="Confirm Password">
            <button type="button">Register</button>
        </form>
    </div>
</div>

<footer>
    <div class="footer_up">
        <div class="logo">
            <img src="#" alt="photo">
        </div>
        <div class="links">
            <div class="quick_links">
                <h4>Quick Link</h4>
                <div>
                    <a href="#">How to Book</a>

                    <a href="../gallery page/gallery.html">Gallery</a>

                    <a href="../FAQ page/FAQ.html">FAQ</a>
                </div>
            </div>
            <div class="community">
                <h4>Community</h4>
                <div>
                    <a href="#">Featured artists</a>
                    <a href="#">The Portal</a>
                    <a href="#">Live events</a>
                </div>
            </div>
            <div class="company">
                <h4>Quick Link</h4>
                <div>
                    <a href="../about page/about.html">About us</a>
                    <a href="../contact us/contact us.html">Contact us</a>
                    <a href="#">History</a>
                </div>
            </div>
        </div>
        <div class="btns">
            <!-- <a href="../registration page/registration.html" class="reg">Register</a> -->
            <a href="../login page/login.html" class="login">Log in</a>

        </div>
    </div>
    <hr>
    <div class="footer_down">
        <div class="copyright"><small>&copy;HFYV,Inc.2022.We love our students!</small></div>
        <div class="follow_us"> Follow us:
            <img src="../images/Vector.svg" alt="Facebook">
            <img src="../images/Vector-1.svg" alt="twitter">
            <img src="../images/Vector-2.svg" alt="whatsapp">
            <img src="../images/Vector-3.svg" alt="instargram">
        </div>
    </div>
</footer>
<script type="text/javascript" th:src = "@{/js/gen script.js}"></script>
</body>

</html>
