*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    transition: opacity, color, 0.5s ease-in-out;
    color: var(--fc--);
    
}
body{
    overflow: hidden;
}
a{
    text-decoration: none;
}
svg,
.profile-pic{
    cursor: pointer;
}
:root{
    
    --pc--:var(--bc--);
    --bc--: white;
    --fc--: black;
    --ic--: #18A0FB;
    --genpadding--: 5px 10px;
    --nt--:10vh;
    --nwidth--: 15%;
    --phone-fullview--: 30%;
    --phone--bodyview--: calc(100% - var(--phone-fullview--));
    --nav--hover:rgb(224, 222, 222);
    --cwidth--: calc(100% - var(--nwidth--));
    --icon--hover:#18A0FB;
    --box-shadow--: 0px 0px 2px black;
    --box-burger--: 0px 1px 3px rgba(178, 164, 158, 0.2) ;
    --position-background--:100% 60%;
}
.darkmode{
        --pc--:var(--fc--);
        --bc--: black;
        --fc--: white;
        --ic--: #ef670b;
        --nav--hover:rgb(126, 109, 109);
        --icon--hover:#ef670b;
        --box-shadow--: 0px 0px 2px white;
        --box-burger--: 0px 1px 3px rgba(255, 101, 47, 0.2) ;
}


/* Header */
header {
    width: 100%;
    min-height: 12vh;
    display: grid;
    grid-template-columns: 5fr 2fr ;
    /* display: flex;
    justify-content: space-around;*/
    align-items: center; 
    position: relative;
    box-shadow: var(--box-shadow--);
    background: var(--bc--) ;
    padding: 5px 0px;
    z-index: 3;
     
}
.header-left{ 
    display: flex;
    align-items: center;
    display: grid;
    grid-template-columns: 2fr 2fr 5fr ;
    /* border: 1px solid ; */
} 
.header-right{
    position: relative;
    display: flex;
    align-items: center;
    justify-content:space-around;
    /* border:1px solid var(--fc--); */
}
.togglebtn{
    /* position: absolute; */
    top: 0;
    right: 0;
}
/* hambuger menu */
.ham{
    justify-self: center;
    position: relative;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    /* border: 3px solid; */
}

.ham-burger::after,
.ham-burger::before{
    content: " ";
    background: var(--fc--);
    position: absolute;
    width: 25px;
    height: 3px;
    border-radius: 5px;
    box-shadow: var(--box-burger--);
    transition: all 0.5s ease-in-out;
}
.ham-burger{
    width: 25px;
    height: 3px;
    background: var(--fc--);
    border-radius: 5px;
    box-shadow: var(--box-burger--);
    transition: all 0.5s ease-in-out;

}
.ham-burger::after{
    transform: translateY(8px);
}
.ham-burger::before{
    transform: translateY(-8px);
}
/* Animation for burger*/
.ham.open .ham-burger{
    transform: translateX(50px);
    background: transparent;
    box-shadow: none;

}
.ham.open .ham-burger::before{
    transform: rotate(45deg) translate(-35px, 35px);
}
.ham.open .ham-burger::after{
    transform: rotate(-45deg) translate(-35px, -35px);
}
.ham-burger,
.ham-burger::after,
.ham-burger::before{
    display: none;
}

/* user-profile */
.user-profile{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.profile-pic{
    background: url(../images/person-fill.svg),white;
    background-repeat: no-repeat;
    background-size:100%;
    background-position:var(--position-background--);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    border: 2px solid var(--fc--);
    /* background: var(--pc--); */
    fill: var(--fc--);
    /* z-index: 4; */
}
.bell svg{
    width: 30px;
    height: 30px;
    /* display: flex; */
}
.bell svg *{
    width: 30px;
    height: 30px;
    stroke: var(--fc--);
}
.upload-option{
    display: flex;
    align-items: center;
    justify-content: center;
}
.user-upload svg {
    fill: var(--fc--);
    opacity: 1;
    transition: transform 500ms ease-in-out  ;
    
}
.user-upload{
    display: flex;
    flex-direction: column;
    cursor: pointer;
    color: var(--fc--);
}

input[type="checkbox"]#option-icon:checked + label .user-upload svg{
    transform: rotate(180deg);
}

/* the modal profile picture */
.full-profile::backdrop{
    background:black;
}
.profile-modal::backdrop{
    background: rgba(101, 99, 99, 0.751);
    
    
}
.profile-modal{
    width: 70vw;
    height: 70vh;
    margin: auto;
    display: flex;
    justify-content: center; 
    align-items: center;
    position: relative;
    background: none;
    border: none;
    transition: all 0.5s ease-in-out;
}
.profile-pic-modal{
    
    width: 25em;
    height: 25em;
    border-radius: 50%;
    display: flex;
    border: 3px solid white;
    position: relative;
}
.profile-pic-modal2{
    background: url(../images/person-fill.svg),white;
    background-repeat: no-repeat;
    background-size:100%;
    background-position:var(--position-background--);
    width: 100%;
    border-radius: 50%;

}

#closeModal{
    width: 2em;
    height: 2em;
    display: flex; 
    position: absolute;
    right: 5px;
    top: 5px;
    
    
}
#closeModal svg {
    width: 2em;
    height: 2em;
    fill: white;
}

.pic-upload{
    width: 4em;
    height: 4em;
    border-radius: 50%;
    position: absolute;
    background: white;
    right: 20px;
    bottom: 35px;
    border: 2px solid var(--ic--);
}
.pic-upload label{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pic-upload label svg{
    width: 60%;
    height: 60%;
}
input[type="file"]#add-profile-pic{
    position: absolute;
    opacity: 0;
    left: -1000px;
    top:-1000px
}
/* day and night toogle switches */
input[type="radio"],
input[type="checkbox"]#option-icon,
input[type="checkbox"].toggle{
    opacity: 0;
    position: absolute;
    /* top: -90000px; */
    /* left: -90000px; */
}
/* input[type="checkbox"].toggle:focus + label::before{
    outline: 1px solid black;
} */
input[type="checkbox"].toggle + label{
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
}
input[type="checkbox"].toggle + label::before{
    /* position: absolute; */
    content: "";
    width: 2em;
    height: 1em;
    background-color: var(--bc--);
    border-radius: 1em;
    border: 1px solid var(--ic--);
    transition: transform 200ms ease-in-out;
    
}
input[type="checkbox"].toggle + label::after{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: .2em;
    content: "";
    font-size: .5em;
    color: black;
    width: 1.9em;
    height: 1.9em;
    background-color: var(--ic--);
    border-radius: 1em;
    transition: transform 200ms ease-in-out;
    animation: check-fade 200ms ease-in-out reverse forwards;
    
}
input[type="checkbox"].toggle:checked + label::after{
   transform: translateX(100%); 
   animation: check-fade 200ms ease-in-out forwards; 
    
}
input[type="checkbox"].toggle:checked + label{
    color: var(--ic--);
}
@keyframes check-fade {
    0% { 
        opacity:1;
        content: "\263C";
    }
    50% { 
        opacity:0;
    }
    100% { 
        content: "\263D";
        opacity: 1;
    }
}
/* BODY AREA */
.body-part{
    width: 100%;
    display: flex;
    overflow: auto;

}
/* Nav-bar */

.navbar{
    width: var(--nwidth--);
    border: 1px solid transparent;
    box-shadow: var(--box-shadow--);
    height: 82vh;
    background: var(--bc--);
    overflow: auto;
    z-index: 1;
} 
.navbar>ul li{
    display: flex;
    background-color: var(--bc--);
    font-size: 15px;
    line-height: 20px;
    font-weight: 200;
    color: var(--fc--);
    border-bottom: 1px solid var(--fc--);
    cursor: pointer;
    overflow: hidden;

}
.navbar>ul li:focus,
.navbar>ul li:hover{
    background: var(--nav--hover);
}
.navbar>ul li:focus strong,
.navbar>ul li:hover strong{
    color: var(--icon--hover);
} 

.navbar>ul li:hover .icon-img1 svg path{
    
    stroke: var(--icon--hover);
}
.navbar>ul li:hover .icon-img svg path{
    fill: var(--icon--hover);
}
/* adding class for when the icons elements are clicked */
.navbar>ul .selected{
    background: var(--nav--hover);
}
.selected strong{
    color: var(--icon--hover);
} 

.selected .icon-img1 svg path{
    
    stroke: var(--icon--hover);
}
.selected .icon-img svg path{
    fill: var(--icon--hover);
}
/*     */
.icons{
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: center;
    width: 100%;
    cursor: pointer;
    margin: auto;
    padding: 1.5em;
}
.icon-img1 *{
    width: 20px;
    stroke: var(--fc--);
    
}
.icon-img *{ 
    fill:var(--fc--);
    width: 20px;
    
    
    
}

/* contents */
.content {
    width:var(--cwidth--);
    background-color: var(--bc--);
    overflow: auto;
    
}
/* FOOTER */

footer{
    position: fixed;
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    min-height: 8vh;
    padding: 1em;
    color: var(--fc--);
    justify-content: space-evenly;
    box-shadow: var(--box-shadow--);
    bottom: 0%;
    width: 100%;
    background: var(--bc--);
    z-index: 1;
}

footer>div{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
footer> .social-links > .links{
    width: 60%;
    display: flex;
    justify-content: space-evenly;
}
footer >.social-links> .links >span >svg {
    width: 1.5em;
    height: 1.5em;
}
footer >.social-links> .links >span >svg *{
    fill: var(--fc--);
}
/* FULL PROFILE PIC  */
.full-profile{
    margin: auto;
    width: 40em;
    height: 40em;
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
    border: none;
}
.full-profile-pic{

    background: url(../images/person-fill.svg),white;
    background-repeat: no-repeat;
    background-size:100%;
    background-position:var(--position-background--);
    width: 30em;
    height: 30em;
}
/* .dm-pic{
    display: none;
} */
.dm-pic >*{
    /* display: none; */
    overflow: hidden;
}
.edit-dp{
    position: absolute;
    width: 30px;
    height: 30px;
    padding: 0;
    display: none;
}
.edit-dp > svg{
    width: 26px;
     height: 26px;
}
#move-up{
top: -15px;
right: 50%;
transform: translateX(50%);
}
#move-down{
    bottom: -15px;
right: 50%;
transform: translateX(50%);

}
#move-left{
    left: 0px;
    top: 50%;
    transform: translateY(50%);
    rotate: 90deg;
}
#move-right{
    right: 0px;
    top: 50%;
    transform: translateY(50%);
    rotate: 270deg;
}
.remove-dp{
    padding: 5px 10px;
    font-size: 1em;
    color: black;
    position: absolute;
    bottom: 3%;
}
.save-dp{
    padding: 5px 10px;
    font-size: 1em;
    color: black;
    position: absolute;
    bottom: 3%;
    display: none;
}
#footershow,
#labell1{
    display: none;
}
/* #move-up-left{
    top: 20%;
    left: 0%;
    transform: translateX(50%);
    rotate: -45deg;
}
#move-up-right{
    top: 20%;
    left: 100%;
    transform: translateX(50%);
    rotate: 45deg;
}
#move-down-left{
    bottom: 15%;
    left: 0%;
    transform: translateX(50%);
    rotate: 45deg;
    
}
#move-down-right{
    bottom: 15%;
    right: 0%;
    transform: translateX(50%);
    rotate: -45deg;
} */
@media (max-width: 700px) {
    header{
        grid-template-columns: 3fr 2fr ;
    }
    .profile-pic{
        width: 30px;
        height: 30px;
    }
    .bell svg{
        width: 20px;
        height: 20px;
    }
    .icons{
        padding: .8em;
    }
    .min{
        display: none;
    }
    .ham-burger,
    .ham-burger::after,
    .ham-burger::before{
    display: block;
    }
    .powered{
        grid-column-start: 1;
        grid-column-end: 4;
        text-align: center;
        font-size: .8em;
    }
    .moto{
        grid-column-start: 1;
        grid-column-end: 3;
        font-size: .7em;
        text-align: center;
        /* border: 1px solid; */

    }
    .links{
        display: flex;
        gap: 0.5em;
    }
  
}
@media (max-width:400px) {
    header{
        min-height: 6vh;
    }
    .profile-pic-modal{
        width: 15em;
        height: 15em;   
    }
    .pic-upload{
        width: 2.5em;
        height: 2.5em;
        right: 10px;
        bottom: 25px;
    }
    .full-profile-pic{
        width: 18em;
        height: 18em;
    }
    .full-profile{
        margin: auto;
        width: 20em;
        height: 20em;
    }
.body-part{
    flex-direction: column;
    background: var(--bc--);
    min-height: 100vh;
}
.min{
    display: block;
}
.navbar{
    position: fixed;
    bottom: 10px;
    width: 100%;
    max-height: 10vh;
    box-shadow: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
}
.navbar  ul {
    width: 90%;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    box-shadow: var(--box-shadow--);
    align-items: center;
    justify-content: space-evenly ;
    background-color: var(--bc--);
    

}
.navbar ul li {
    border: none;
    background: none;
    line-height:0px;
    
    
}
.navbar>ul li label{
    flex-direction: column;
    font-size: 8px;
    gap: 2px;
}
.navbar>ul .selected,
.navbar>ul li:focus,
.navbar>ul li:hover{
    background: none;
    
}
.content{
    width: 100%;
}
.ham-burger{
    display: none;
}
.powered{
    flex-direction: column;
}
#footershow{
    display: block;
    width: 5px;
    height: 5px;
    opacity: 0;
    
}

#labell1{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: 100%;
}
#labell1::before{
    content: "";
    margin: auto;
    width: 50px;
    border: 2px solid;
    border-radius: 10px;
    margin-bottom: 20px;
    cursor: pointer;
    /* box-shadow: var(--box-shadow--); */
}
footer{
    padding-top: 4px;
    
}
.footerdiv{
    bottom: -94px;
}

#closeModal{
    width: 1.5em;
    height: 1.5em;
}
.full-profile >#closeModal{
    top: -7px;
    right: 0%;
}
footer >.social-links> .links >span >svg {
    width: 1.5em;
    height: 1.5em;
}
}

@media (min-width: 768px) {
    .min{
        display: flex;
    }
}