*{
    padding: 0;
    margin: 0;
}

/* LOGIN PAGE */

.container{
    min-height: 100vh;
    /* width: 100%; */
    /* background: #a7bcff; */
    background-image: linear-gradient(0deg, rgba(0, 60, 100, 0.84), rgba(0, 60, 100, 0.84)), url("../images/hfyv1.jpg");
    background-repeat:no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    padding: 20px;

}


.formcontainer{
    margin: auto;
    width: 50%;
    text-align: center;
    padding: 40px 0px; 
    border-radius: 20px;

    background: rgba(255, 255, 255, .7);
    box-shadow: 0 15px 20px rgba(0, 0, 0, .2);
}

.form{
    display: flex;
    width: 80%;
    margin: auto;
    text-align: left;
    flex-direction: column;

    gap: 20px;
    /* padding: 10px 10px; */
}

.login-1{
    font-weight: 500;
    font-size: 30px;
    
}
.ENP{
    font-size: 20px;
    text-align: center;
    /* border: 2px solid; */
}

.input{
    padding: 8px;
    border: 1px solid black;
    border-radius: 10px;
    width: 100%;
    outline: none;
    border: none;
    border-bottom: 1px solid black;
    /* background: rgba(255, 255, 255, .4); */
    box-shadow: 0 15px 20px rgba(0, 0, 0, .2);
    font-weight:300;
    text-decoration: solid black;
    text-transform: capitalize;

}

.email{
    margin-bottom: 10px;
    margin-top: 30px;
}

.forgot >a{
    color: black;
    font-size: 1rem;
    text-transform: capitalize;
    text-decoration: underline;
}
.forgot >a:focus,
.forgot >a:hover{
    color: #18A0FB;
}

button{
    background-color: #BF4E03;
    color: white;
    min-width: 35%;
    width: 40%;
    margin: auto;
    padding: 10px 30px;
    border-radius: 7px;
    border: none;
    cursor: pointer;
}




/* REGISTER PAGE */
.create{
    padding-top: 20px;
}

@media (max-width: 700px) {
    .formcontainer{
        width: 65%;
    }
    .login-1{
        font-size: 23px;
    }
    button{
        padding: 8px 20px;
        font-size: 12px;
    }
    .forgot{
        font-size: 14px;
    }
    .ENP{
        font-size: 18px;
        text-align: center;
        /* border: 2px solid; */
        width: 80%;
    }
}

@media (max-width: 500px) {
    .formcontainer{
        width: 80%;
    } 
    .login-1{
        font-size: 18px;
    }
    button{
        padding: 7px 20px;
        font-size: 10px;
        min-width: 40%;
    }
    input{
        font-size: 12px;
    }
    .forgot{
        font-size: 12px;
    }
    .ENP{
        font-size: 16px;
        text-align: center;
        /* border: 2px solid; */
        width: 80%;
    }
}